@import "tailwindcss";

@font-face {
  font-family: 'Stockholm';
  src: url('/assets/font/Lexend-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}


.primary{
  background-color: #171513;
}
.bg-primary{
  background-color: #171513;
}
.anime:hover{
  transform: translateY(-10px) !important;
}
.anime{
  transition: 0.22s all !important;
  cursor: pointer;
}
html, body {
  height: 100%;
}
.font-stock{
  font-family: Stockholm !important;
}